[2018-05-13 22:04] rstub opened #1 "Does not compile on Solaris"
c.f. https://cran.r-project.org/web/checks/check_results_dqrng.html

[code]

Introducing a namespace into `pcg_*.hpp` should help.

[2018-05-14 09:14] #1 closed

[2018-05-29 16:43] rstub opened #2 "std::random_device on Windows"
Test if package is affected by [this mingw bug](https://sourceforge.net/p/mingw-w64/bugs/338/).

[2018-05-29 21:00] rstub commented on #2
Yes, dqrng is affected:

[code]

If you do not set a seed, `std::random_device` is used to initialize the RNG. Since that is deterministic with mingw, the RNGs from dqrng are also deterministic on Windows.

[2018-06-05 12:16] #2 closed

[2018-09-19 09:13] rstub opened #6 "define STRICT_R_HEADERS"
c.f. https://github.com/RcppCore/Rcpp/issues/898

[2018-10-18 21:38] rstub opened #7 "remove random header"
"Writing R extensions" does not like the `random` header being used:
https://github.com/wch/r-source/blob/9d9f8921f33bd68598be377ccfeffc4a8c669b3f/doc/manual/R-exts.texi#L4480

Alternative is using `boost.random` for everything.

[2019-01-10 16:01] rstub commented on #7
This is currently blocked by https://github.com/boostorg/random/pull/24

[2019-01-15 07:59] LTLA opened #8 "A note of appreciation"
Just a note of appreciation for making this nice package - saved me some trouble packaging up the `pcg` headers myself. CRAN doesn't record reverse dependencies to BioC packages, but here they are:

https://www.bioconductor.org/packages/devel/bioc/html/DropletUtils.html
https://www.bioconductor.org/packages/devel/bioc/html/scran.html

This being an issue, I guess I should complain about _something

[2019-01-31 17:34] #8 closed

[2019-01-31 17:36] rstub commented on #8
Thanks for the kind words! I have updated the PCG headers now.

Concerning improvements w.r.t. seeding: Could you open a separate issue for this? Thanks.

[2019-01-31 18:31] #6 closed

[2019-02-01 16:06] LTLA opened #11 "Design of seeds with more than 32 bits of randomness"
As suggested by @rstub on #10, I'll try to justify why I chose raw vectors for generating >32 bit seeds.

# Why raw vectors?

Raw vectors are `unsigned char` vectors represented in R, with size in bytes equal to its length (plus some overhead for R vectors). This provides a nice representation in which one can specify the settings for an arbitrary number of bits. Each entry of the raw vector store

[2019-02-01 23:33] LTLA commented on #11
Thanks for the comments @rstub.

# Using raw vectors as the seed

I can empathize with your wariness towards raw vectors, as I felt the same way when I first saw them. (What's this `0e f6 a3` nonsense? Must be a segmentation fault!) But I have grudgingly come around to concede that they are useful in some cases. I'll start by pointing out that you can directly create raw-vector seeds:

[code]

Thi

[2019-02-02 18:34] LTLA commented on #11
If raw vectors are too unpalatable, I just did a refactor to use integer vectors - this is on the `integerseed` branch of my fork [here](https://github.com/LTLA/dqrng/tree/integerseed). As anticipated, some work was required to guarantee a sensible `uint32_t` to `int` conversion, which would otherwise be implementation-defined if we left it to a `static_cast`.

[2019-02-03 17:36] LTLA commented on #11
**Edit, 5 hours later:** I spent some time thinking about the use of `seed_seq_fe` here - and I don't think it's necessary. From what I understand, the seed sequence is intended to "inflate" a small amount of entropy to get enough bits for seeding. But here, R's MT stream is already giving us decent random numbers for seeding. There's no need to complicate the _dqrng_ API with extra work and bug p

[2019-02-07 16:39] rstub commented on #11
Fixed in #10.

[2019-02-07 16:39] #11 closed

[2019-02-15 10:10] #7 closed

[2019-02-19 15:09] ignacio82 opened #13 "Suggestions for the documentation"
These suggestions come from someone who is very new at Rcpp, I just took the datacamp course last weekend:

1. Add additional comments for people who are new to c++ whenever possible (experts can ignore them but for people like me they can be very valuable). For example:

[code]

I would also suggest adding [the example you helped me create in StackOverflow](https://stackoverflow.com/questions/547

[2019-02-19 17:58] rstub commented on #13
Thanks for the suggestions. I will definitely add more comments in the code. The extended example looks also interesting.

The alternative to SO for Rcpp related question would be the [Rcpp mailing list](http://lists.r-forge.r-project.org/pipermail/rcpp-devel/).

[2019-02-21 14:32] ignacio82 commented on #13
Thanks. Would you mind answering this question?

[code]

I noticed that the code runs if I delete that line so I'm not sure why is there.

[2019-02-21 15:20] ignacio82 commented on #13
btw, [this](https://stackoverflow.com/questions/54809461/is-there-a-way-to-assign-column-names-to-an-armamat-inside-a-c-function) is why i suggested doing what Stan or Rstudio does for community instead of StackOverflow:

![image](https://user-images.githubusercontent.com/1833309/53179619-0d06fc80-35c2-11e9-8977-81c48b0baf28.png)

I know my question is stupid, I'm learning on nights and weekends s

[2019-02-21 15:32] rstub commented on #13
[code]

The `auto` keyword requires C++11. I think that's the only thing in this piece of code, but I might be wrong.

This means that your compiler uses C++11 by default, which is quite normal for recent compilers. But one cannot assume that the default compiler used by R behaves like that.

[2019-02-23 10:43] rstub commented on #13
I have looked at the code on SO again, and I still find it interesting to add it one way or another. Some observations:

* The code is already quite complex, even though the parameter `p ` does not depend on the iteration yet. But it still feels artificial. Can you give a "business description" of the use case you have in mind?

* Do you think the parallel code is necessary for the example? Withou

[2019-02-23 13:10] ignacio82 commented on #13
The reason I want to be able to draw from those distributions is that I want to do predictions after fitting a model with [Stan](https://mc-stan.org/). Typically you would do these predictions within your Stan code, but for my particular use case, that would be suboptimal.

In particular, I want to do predictions for [a new observation in a new group](https://discourse.mc-stan.org/t/prediction-for

[2019-02-25 19:35] LTLA commented on #11
For posterity's sake, I had a go at using _dqrng_ with multiple streams vs multiple seeds:

## streamer.cpp

[code]

## R code

[code]

Yeah, it's not very sophisticated, but it's the best I've got without further knowledge of the failure modes of this PRNGs. I really wish someone would chime in on imneme/pcg-cpp#49...

## TL; DR

For the amount of random numbers I'm generating, there is no observ

[2019-02-28 13:28] rstub commented on #13
The code from the vignette can actually be simplified, making some comments unnecessary:

[code]

Do you see anything else that needs commenting?

As for the more complex example, I would like to use a serial version without RcppArmadillo in the normal vignette, e.g.:

[code]

Do you see anything else that is worth mentioning?

[2019-02-28 20:27] ignacio82 commented on #13
This looks great, I would make only one addition to the second example.  Before returning `out` I would add names to its columns:

[code]

I know this is probably obvious for most people, but it coul be useful for a newbie.

[2019-03-01 12:14] rstub commented on #13
Good idea.

I have made some further refinements:

* There is no need for a double loop.
* Make the parameters actually depend on iteration status.
* Use `param_type` to change the parameters of an existing distribution object.

[code]

Please let me know if you find anything difficult to understand.

[2019-03-01 15:24] ignacio82 commented on #13
I like it, but I have a couple of questions for my own education:

1. You replaced `boost/random/normal_distribution.hpp` for  `#include <dqrng_distribution.h>`. Why?
2.  You are now using `binomial::param_type`, could you point me to the documentation so I can better understand how this is different from what I was doing before?

Thanks!

[2019-03-01 15:33] rstub commented on #13
1. Because I am using `dqrng::normal_distribution` instead of `boost::random::normal_distribution<double>` . These are the same, but it felt more natural to use dqrng features in the dqrng vignette ;-)

2. I got that from section 9 in https://isocpp.org/files/papers/n3551.pdf. That is about C++11's `random`, but `boost.random` works the same (in most cases).

[2019-03-01 15:49] rstub commented on #13
Fixed in eef009f1062b7aca27c59524b9e86f2be3571041 and 355e0e1ed09a7b8f1b4e21bf9476e128b43917b2.

[2019-03-01 15:49] #13 closed

[2019-03-01 17:15] rstub opened #14 "Deployment of pkgdown site not working"
c.f. https://travis-ci.org/daqana/dqrng/jobs/500405133#L1000
Probably switch to https://pkgdown.r-lib.org/reference/deploy_site_github.html

[2019-03-04 11:40] rstub commented on #14
fixed in 5f81b4b9

[2019-03-04 11:40] #14 closed

[2019-03-04 17:01] rstub opened #15 "Compilation error on Solaris"
While everything works on `rhub`'s Solaris machine, some of the new test fail on [CRAN's Solaris](https://cran.r-project.org/web/checks/check_results_dqrng.html) machine:

[code]

CC: @LTLA

[2019-03-04 23:35] LTLA commented on #15
Hm. Is the mere presence of UB code sufficient to cause the segfault, even if it never gets executed? I will try to circumvent this at compile-time with by using an overloaded function for the shift function that simply returns zero (or does nothing) for the most common (yet invalid) integer size/`SHIFT` combinations

[2019-03-05 11:54] rstub commented on #15
I am not sure about the UB code causing these problems. My current theory is as follows:

* From the stacktrace we learn that `convert_16(-1)` triggered the segfault. That is the first test that produces an error.
* The warning messages have a different wording than those from gcc, making it plausible that the compiler from Oracle Developer Studio is used.
* On rhub, the wording of the warnings in

[2019-03-05 15:06] LTLA commented on #15
I thought we already had C++11 turned on in `convert.cpp`. Hard to imagine anything compiling without it, given the `constexpr`s in `convert_seed.h`.

[2019-03-05 15:13] rstub commented on #15
You are correct, C++11 is requested right in the first line of the file.

I still find it interesting that it fails for `convert_16(-1)`, and that CRAN seems to use a different compiler than rhub.

[2019-03-05 16:07] LTLA commented on #15
I've been reading up about UB and it's pretty crazy. They weren't joking when they say that the compiler can do literally anything it wants. Possibly even more so if it knows that it's UB at compile time.

Getting rid of the UB may or may not fix it, but at least we don't have any warnings anymore. That's one less thing we need to argue about if we need to escalate this to the CRAN maintainers.

[2019-03-05 17:19] ignacio82 commented on #13
I have a follow up question. Could these lines:

[code]

be replaced with

[code]

?? Why do you need to have two different functions?

[2019-03-05 19:53] rstub commented on #13
You are correct, one instance of `normal_distribution` is enough. I will adjust that right away.

[2019-03-06 13:15] rstub commented on #15
Interestingly, meanwhile MacOS also reports ERRORS:
[code]

This is odd, since MacOS is tested via Travis CI.

Anyway, the failed tests are all the ones that check for error conditions. So my suggestion would be to just skip those tests on CRAN. I don't like that, but I see no better immediate solution without the ability to reproduce the issues first.

[2019-03-06 16:15] LTLA commented on #15
Is this with the shift-avoiding code? Might be worth one last roll of the dice, especially if it is some UB. I suppose UBSan doesn't pick it up because it's not part of the _dqrng_ shared library.

[2019-03-06 20:33] rstub commented on #15
The tests on CRAN use the original version (it typically takes a few days for all CRAN machines to build a new or updated package). However, I have meanwhile been able to reproduce the MacOS failure with the most recent version. In addition, one of the failure happens for 64bit integers, where there is no UB.

[2019-03-06 21:51] LTLA commented on #15
Possibly relevant:

https://discourse.mc-stan.org/t/error-in-stanc-c-exception-unknown-reason/2120/6

[2019-03-07 15:27] rstub commented on #15
That looks very relevant. And it fits to my recent experiences. Even the examples from http://gallery.rcpp.org/articles/intro-to-exceptions/ do not work properly on MacOS (CRAN build with matching clang). Only `Rcpp::stop` does work properly. I guess a  custom exception class derived from `std::exception` would also work. So for MacOS I see four possibilities:

1. Skip the exception checking tests

[2019-03-07 17:14] LTLA commented on #15
Yes, agree that 1 is the best, if we can just do the skips on OSX. Alternatively, we could write a wrapper around `expect_error` that just does 2 for OSX only, something like:

[code]

[2019-03-08 13:43] rstub commented on #15
Thanks, I like the `safe_except_error` and put it into #17. I have also put in a `skip_on_os("solaris")` for all the exception-triggering tests. I am not in the mood for gambling ... ;-)

Upload on Monday, since one build result is still missing and it avoids a NOTE.

[2019-03-11 17:52] rstub commented on #15
Skipping on Solaris was successful. Whether it is necessary or merely sufficient is a different question. I meanwhile fear that it is some sort of ABI incompatibility triggered by compilation with the Oracle compiler instead of g++, c.f. https://stackoverflow.com/questions/54492667/segfault-when-throwing-stdruntime-error-on-ubuntu-xenial-with-rcpp.

[2019-03-12 01:05] gzt opened #18 "weighted sampling"
I ran into this thread (http://r.789695.n4.nabble.com/Bias-in-R-s-random-integers-td4752563.html) and saw your discussion of the sample feature - I have a suggestion if you're still thinking of implementing it: you could do stochastic acceptance in order to perform weighted sampling in this framework. See here for an example: https://jbn.github.io/fast_proportional_selection/ It has the overhead o

[2019-03-12 11:10] rstub commented on #18
Thanks for the suggestion! I am still interested in adding `sample` functionality to `dqrng`. However, I have no immediate need for it, so I cannot give a time frame for it. A PR would be welcome.

Some general comments:

* Additional calls to the RNG shouldn't be to bad, since the RNGs used in `dqrng` are pretty fast. In addition, there already [is code](https://github.com/daqana/dqrng/blob/ff3d5

[2019-03-12 14:57] rstub commented on #18
BTW, in the original paper the timings look much better for the StochasticAcceptance algorithm, being faster than BisectionSearch even without the (IMO) artificial change in weights. I guess that for the python examples the bisection algorithm is implemented in compiled code, while the other two are implemented in python.

[2019-03-12 17:57] gzt commented on #18
All right, if I get around to doing this (not likely to be soon), I'll see about putting together a PR - I have something I'm working on that could use something similar (in C) and it might be easy to get it into a form compatible with this project.

* I'll drop a note to the author of that post - it does the right thing in several other places.

[2019-03-13 06:45] LTLA opened #19 "Support setting of streams from R"
I was answering a question on the Bioconductor mailing list (see [here](https://stat.ethz.ch/pipermail/bioc-devel/2019-March/014755.html)) and it occurred to me that it would be nice to be able to set the stream from R in parallel applications. Sort of like what I've been doing in my code, but without requiring people to write C++. Maybe a `dqset.stream` for those generators that support it, which

[2019-03-13 10:39] rstub commented on #19
R-level support for parallel RNG usage is planned. With MT gone, all of RNGs exposed at the R level do support parallel operations of some sort. PCG has streams and jumps, Xo(ro)shiro has jumps and Threefry as counter-based engine is completely flexible in this regard. However, this flexibility is currently only supported when setting the full key or counter. Therefore it would make most sense to

[2019-03-13 10:44] rstub commented on #15
Version 0.1.1 has been build on CRAN on all platforms. However, there are currently two limitations concerning the tests that deliberately throw a C++ exception:

* On MacOS the actual message from the exception is not checked.
* On Solaris these tests are skipped completely.

It would be nice if a better solution could be found.

[2019-03-14 16:33] rstub opened #21 "unweighted sampling"
Prerequisite for #18

* Update the code from https://github.com/daqana/dqrng/tree/feature/sample
* Add long-vector support
* Add hashing algorithm
    * Evaluate https://stat.ethz.ch/pipermail/r-devel/2017-October/075012.html
    * Evaluate https://stackoverflow.com/a/28287865/8416610

[2019-03-14 16:40] rstub opened #22 "More distribution functions"
Many distribution functions are supported via the [stats package](https://stat.ethz.ch/R-manual/R-patched/library/stats/html/Distributions.html) and [add-on packages](https://cran.r-project.org/view=Distributions) together with Rs RNG. It would be good to support a greater selection of distributions together with the faster RNGs from dqrng.

Directly usable:

* https://www.boost.org/doc/libs/1_69_

[2019-03-14 16:55] rstub commented on #22
Potentially usable (c.f. https://stackoverflow.com/a/54143984/8416610):

* https://cran.r-project.org/package=rgen
* https://cran.r-project.org/package=RcppDist

@coatless, @duckmayr: Would any of you be interested in supporting external RNGs?

Generalized Ziggurat: https://github.com/DiscreteLogarithm/Zest

[2019-03-14 19:07] duckmayr commented on #22
@rstub Potentially. I can look into this around March 23.

[2019-03-15 07:19] LTLA commented on #21
On this note: you are already aware of this, but [this](http://r.789695.n4.nabble.com/bias-issue-in-sample-PR-17494-td4755518.html) directly rebukes our method for sampling random 32-bit integers. It might be worth asking R core to expose the Mersenne Twister stream directly (i.e., give us a function that just yields 32-bit integers). This would only be fair if they're not letting us use `<random>

[2019-03-15 11:08] rstub commented on #21
I would not say "rebukes our method", since sampling in R core and generating random seeds have slightly different constraints: The different RNGs in R produce floating point numbers in `(0,1)` (R does not use `[0,1)`) in slightly different ways. Most of them generate random integers in `[0, MAX]` and divide by `MAX + 1` ("Wichmann-Hill" is the exception here). For Mersenne-Twister `MAX` is `UINT3

[2019-03-15 15:21] LTLA commented on #21
If the linked PDF is using MT, we would expect a maximum bias of ~2-fold in terms of the ratio between the frequencies of the most observed and least observed 32-bit integer. This seems... pretty bad.

Another approach would be to assume that R core will fix `R_unif_index`, and use that instead in our `R_random_u32`. Then it wouldn't be our problem anymore.

[2019-03-15 17:49] rstub commented on #21
I am not sure where one would get a bias in our case. MT produces any 32 bit integer with equal probability. This gets converted to a double by R, and we convert it back to a 32 bit integer. This conversion is exact, as demonstrated by the following program, which tries the conversion for all possible 32 bit integers:

[code]

Output:

[code]

The bias that results from the float to int conversion

[2019-03-16 02:11] LTLA commented on #21
If you do decide to go with `R_unif_index`, it would be a good idea to check in with R core regarding whether it is an recognized and supported entry point into the C API. I don't see it mentioned in "Writing R extensions", even though it is available from `R_ext/Random.h`, so it would be best to confirm its (continued) availability. At the very least, R core will know that we're using it, so we'l

[2019-03-20 14:17] coatless commented on #22
@rstub more than content with adding new routines into `rgen`. That said, the `rgen` package was created prior to the development of @kthohr's [`stats`](https://github.com/kthohr/stats) as I needed _R_ sampling routines that were not exported.

[2019-03-20 21:02] rstub commented on #22
@coatless I don't think that additional routines would be necessary. I think it should work to add additional arguments to the existing functions. So instead of calling a fixed `norm_rand` or `unif_rand`, a function is called that has been passed in as argument and defaults to the currently used function. This way the existing functions should be usable as before but offer the possibility to chang

[2019-03-22 13:12] #19 closed

[2019-03-25 11:20] rstub commented on #21
I have [asked on r-devel](https://stat.ethz.ch/pipermail/r-devel/2019-March/077500.html) concerning `R_unif_index`. No response so far.

[2019-04-18 15:56] rstub commented on #21
fixed in #23 and #24

BTW, `R_unif_index` became part of the official API.

[2019-04-18 15:56] #21 closed

[2019-04-30 16:54] isezen opened #26 "Enable parallel usage of templates used for dqsample"
So, is it thread safe?  can we use, for instance, dqrunif in a RcppParallel::worker? Or should we follow the examples at https://cran.r-project.org/web/packages/dqrng/vignettes/parallel.html?

[2019-04-30 17:40] rstub commented on #26
The functions provided in the C++ API are not thread safe since they are provided via R's C API, e.g.:
https://github.com/daqana/dqrng/blob/5e7dd2662544155d86647161809cda15b3b13924/inst/include/dqrng_RcppExports.h#L65-L83

Please follow the examples from the [parallel vignette](https://www.daqana.org/dqrng/articles/parallel.html) instead. Do you have any questions w.r.t. these examples?

[2019-04-30 18:09] isezen commented on #26
Thank you very much for asking. Then,
[code]
functions are also not thread safe (pity). I need thread safe equivalent of `rnorm`, `sample`and `runif` functions to create a random forest with RcppParallel. Actually my implementation is very similar to [1]. Can you give an example how to create and use `rnorm`, `sample`and `runif` function in a `RcppParallel::worker`? This would be very handy.

1- h

[2019-04-30 22:02] rstub commented on #26
Correct, `dqrng::runif` and `dqrng::rnorm` are not thread safe either.  However, these should be fairly simple to achieve, e.g. given the existing code in the RcppParallel example, `dist(rng)` will give you a normally distributed random variate. And you can define an additional uniform distribution as well, c.f. the last example in [the default vignette](https://www.daqana.org/dqrng/articles/dqrng

[2019-05-01 09:13] isezen commented on #26
I had looked into the examples that you suggested. For Now, I will stick to serial `dqrng` methods for testing purposes till you make an enhancement, because other methods won't help me much without a thread-safe `sample` method.
Thank you very much for the package. Community really need thread safe statistical methods to make things faster.

[2019-05-11 14:28] snsansom opened #27 "Compilation issue: UINT64_MAX/UINT64_C not declared in scope"
R 3.6.0
dqrng 0.2.0
Centos 6 with gcc 5.3.0

I encountered the following compilation issue:

[code]

Adding the following lines to inst/include/xoshiro.h (after the #include cstdint statement) fixes the issue:

[code]

[2019-05-11 15:24] rstub commented on #27
These are odd errors, since both these macros should be defined in `/usr/include/stdint.h`, which is included by `cstdint`. Probably due to an old glibc version, c.f. https://github.com/DerrickWood/kraken2/issues/29#issuecomment-408281338. Can you have a look into `stdint.h` if the requires `__STDC_LIMIT_MACROS` and `__STDC_CONSTANT_MACROS` to be defined?

[2019-05-11 19:04] snsansom commented on #27
Hi, thanks for the comment.

Yes this is almost certainly due to an old glibc version:

[code]

/usr/include/stdint.h has these lines:

[code]

[2019-05-11 20:58] isezen commented on #26
Hello Ralf,
I couldn't help myself and tried to create a parallel sampling by the help of your codes. The code below is modified version of [PCG: multiple streams with RcppParallel](https://www.daqana.org/dqrng/articles/parallel.html#pcg-multiple-streams-with-rcppparallel) and fills the columns randomly with shuffled indices of rows. It seems working smoothly. Perhaps, you give me some advice how

[2019-05-11 21:40] LTLA commented on #27
As it stands, the `UINT64_C` macro suggested by @snsansom actually doesn't do anything - which may be fine for some platforms, but exposes the code to UB on others if `b` is ever greater than 31.

If we're fixing it by adding macros, we should probably use a more C++ idiomatic approach:

[code]

[2019-05-12 06:38] rstub commented on #27
Instead of defining our own macros, I would prefer to use those provided in `stdint.h`. Several possibilities come to mind:

1. Wrap all `#include <cstdint>` with code that (un)defines `__STDC_LIMIT_MACROS` and `__STDC_CONSTANT_MACROS`, similar to what old `cstdint` do when including `stdint.h`.

2. Write a configure script that checks for the presence of the needed macros. If one is missing, `-D_

[2019-05-12 07:09] LTLA commented on #27
Whatever solution you decide on, keep in mind that the same solution will need to be used for all downstream packages that `#include "xoshiro.h"` in their C++ code. Something like **1** that could be placed in `xoshiro.h` directly would be simplest and transparent to downstream code.

[2019-05-12 11:00] rstub commented on #26
Do you need to shuffle or sample the data? The function `no_replacement_shuffle`  supports sampling by partial shuffling, but you currently only use full shuffling. If full shuffling is all you need, you probably can simplify things a bit.

Independent of that:

1. You don't need an explicit `Rcpp::RNGScope` if your function uses `[[Rcpp::export]]`.
2. The function `no_replace_shuffle` does not ne

[2019-05-12 15:39] isezen commented on #26
Thanks Ralf, I modified example according to your suggestions. I need to sample data by partial shuffling with no replacement. As this is an example, for simplicity, I selected n elements from n (m) in parallel worker. Thank you also for 3th suggestion. So, can I use other random generators in parallel worker? Forgive my ignorance, which generator is much more random or suitable for parallel compu

[2019-05-12 21:34] isezen opened #28 "duplicate symbols for architecture x86_64"
Hello,
I created a simple minimal [R package](https://github.com/isezen/dqrngtest) to reproduce the following compile error. If I include the `dqrng_distribution.h` or similar files into more than one `.cpp` file, I'm getting the following error. I believe those functions are not inline in header files but I might be wrong. Is there a workaround to overcome this issue or did I stuck to a single `.

[2019-05-13 01:50] LTLA commented on #28
I can't even get it to compile, let alone link. It seems `xoshiro.h` could do with:

[code]

... while your `stat.hpp` needs:

[code]

Presumably your compiler drags in those headers with something else that got `#include`d, so you don't see a problem, but other implementations may not do so. In this case, I'm failing with GCC 7.4.0.

Anyway, onto the actual problem. The template specialized funct

[2019-05-13 08:16] #28 closed

[2019-05-13 09:07] rstub commented on #27
I have now implemented **1** in a separate header file, since both `xoshiro.h` and `dqrng_generator.h` need that. That will not work if the `cstdint` or `stdint.h` is included before, though.

@snsansom Can you give https://github.com/daqana/dqrng/tree/issue/27 a try? E.g. via

    remotes::install_github("daqana/dqrng#30")

[2019-05-13 09:45] rstub commented on #26
If you need to sample, then partial shuffling is performant if you select more than 50% of the population. For smaller selection ratios [I found](https://blog.daqana.com/en/fast-sampling-support-in-dqrng/) rejection sampling to be more performant. The difference is measurable even for small population sizes, but might be negligible.

As for parallel RNGs: `dqrng::random_64bit_wrapper<RNG>::seed(se

[2019-05-13 10:00] isezen commented on #28
similar problem exist here, too.
https://github.com/daqana/dqrng/blob/816de867c43e3f551bd7a8d05e0e3371a2503c2b/inst/include/convert_seed.h#L23-L38

[2019-05-14 14:57] snsansom commented on #27
Many thanks both. Unfortunately

```remotes::install_github("daqana/dqrng#30")```

did not fix the issue for me: [compile.messages.log](https://github.com/daqana/dqrng/files/3178427/compile.messages.log)

[2019-05-14 16:13] rstub commented on #27
That's to bad. Can you tell me then how you installed gcc 5.3.0 on CentOS 6? This might help me reproducing the issue.

[2019-05-15 09:46] snsansom commented on #27
Sure gcc was compiled with a custom install location (--prefix) and installed as a bash module with the "bin" location prepended to $PATH and the "lib" + "lib64" locations prepended to the $LD_LIBRARY_PATH.

So far we've no issues with  other R packages (>400, including many from Bioconductor) on R 3.4, 3.5 or 3.6. With this said if this is not an issue for anyone else we can easily work around!

[2019-05-15 16:56] rstub commented on #27
I think I have found the reason why my patch did not solve the issue: `stdint.h` already gets included via `Rcpp.h`. So either I define the macros in case they are missing, or go for the autoconf route described above, which is difficult with dependent packages as noted by @LTLA. Reordering the includes would be fragile and won't work with things like `Rcpp:cppFunction`.

What would your workaroun

[2019-05-15 17:56] LTLA commented on #27
Can we just modify `xoshiro.h` to not use C-style code? The first macro can be replaced with `numeric_limits<std::uint64_t>::max()` and the second macro can be replaced with a `static_cast`.

[2019-05-15 20:47] rstub commented on #27
Problem is that `xoshiro.h` is not the only file using these macros:

[code]

It is just the first to be compiled.

[2019-05-16 05:08] LTLA commented on #27
Hm, okay. It would be very unpalatable to have to edit the PCG headers, that would break our ability to just copy-and-paste updates of the PCG source.

I guess we could just manually define `UINT64_MAX` and friends in `mystdint.h`? Not particularly principled, but it should work in @snsansom's case and it shouldn't hurt anyone else.

[2019-05-16 12:24] rstub commented on #27
`Makevars` is prefered over `DESCRIPTION`, c.f. [WRE](https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Using-C_002b_002b11-code). Anyway, I have now replaced the `UINT64_C` macro and defined a fallback `UINT64_MAX`. @snsansom Can you give `remotes::install_github("daqana/dqrng#30")` another shot, please?

[2019-05-17 10:58] snsansom commented on #27
@rstub Brilliant that fixes the issue! Thanks all for the help with this.

[2019-05-17 11:36] #27 closed

[2019-06-05 13:23] iembry opened #31 "Unsuccessful installation on GNU/Linux Trisquel/Ubuntu distribution"
I have recently attempted to install your package on my GNU/Linux Trisquel 7.0/Ubuntu 14.04 distribution, but it was unsuccessful.

Below is the compilation process on my system:

    * installing *source* package ‘dqrng’ ...
    ** package ‘dqrng’ successfully unpacked and MD5 sums checked
    ** using staged installation
    ** libs
    ccache g++ -std=c++11 -I"/usr/share/R/include" -DNDEBUG -I.

[2019-06-05 13:35] rstub commented on #31
Interesting. Since "stagged installation" is used, the R version seems to be rather recent. Which one is it and from where did you install it? Which g++ version do you use?

[2019-06-05 14:47] rstub commented on #31
BTW, I tried to reproduce the issue using a docker image for Ubuntu 14.04 (Trusty), which I expect to be close to GNU/Linux Trisquel 7.0/Ubuntu 14.04, with the following Dockerfile:

[code]

However, this resulted only in the (expected) deprecation note:

[code]

Used versions:

[code]

[2019-06-15 13:20] ignacio82 opened #32 "threefry.h: No such file or directory"
This is a [StackOverflow crosspost](https://stackoverflow.com/questions/56610679/how-can-if-fix-error-threefry-h-no-such-file-or-directory-in-docker) because I think the problem might be dqrng.

I'm trying to create a docker container using rocker and a homebrew package. I have no troubles installing my homebrew package on my desktop. Alas, when I try to install it in the container I get the follo

[2019-06-15 14:16] rstub commented on #32
Please see my answer an SO. BTW, it would have been helpful to include the full compile command that produced the error.

[2019-06-15 14:16] #32 closed

[2019-06-28 15:30] isezen opened #33 "dqrunif same min and max values fatal error"
If `min` and `max` values are same in `dqrunif`, R session is aborted.

[code]

[2019-06-29 06:33] LTLA commented on #33
Can't reproduce this with 0.2.1 (Ubuntu, R 3.6.0).

Having said that, I have observed issues elsewhere with `boost::random::uniform_real_distribution` when `min` and `max` are equal. In my case, it resulted in the program stalling (MarioniLab/DropletUtils#14). I didn't dig into it further because I changed my sampling scheme anyway, but this might be related.

[2019-06-29 14:21] isezen commented on #33
Excuse me, My session info is below. Perhaps, it helps.

[code]

[2019-06-30 08:50] rstub commented on #33
I cannot reproduce this either, but there is room for optimization in `dqrunif`:

* There is no need to use the RNG if `min == max`.
* It would make sense to return an error if `min > max`. Currently they are simply swapped by `boost::random::uniform_distribution`.

[2019-06-30 08:51] rstub commented on #31
@iembry Can you please answer the questions? Otherwise I will close the issue as unreproducible.

[2019-06-30 09:33] isezen commented on #33
as @LTLA said, I encountered this error while using `boost::random::uniform_real_distribution` but same issue also exists for `dqrunif `. I solved it by `if (min == max) return(min);` for myself. Just wanted to let you know.

[2019-06-30 13:30] rstub commented on #33
@isezen Can you give #34 a try?

[2019-06-30 14:20] isezen commented on #33
I've installed the pull by `remotes::install_github("daqana/dqrng#34")` and it works right now. But I think the pull was not merged into master.

[2019-06-30 14:44] #33 closed

[2019-06-30 14:44] rstub commented on #33
It has been merged now ...

[2019-07-03 10:47] rstub commented on #31
Closing as unreproducible. Feel free to re-open in case you have further information.

[2019-07-30 13:11] iembry commented on #31
@rstub   I'm sorry for my ultra-delayed response, but here is the requested information:

CRAN (R 3.6.0)
GNU/Linux Trisquel 7.0 (based off of Ubuntu 14.04)
BH 1.69.0-1 2019-01-07
g++ 4.8.4

[2019-07-30 13:57] rstub commented on #31
Very odd, since these seem to be the same versions I am using in that Docker container. Can you also give the output of `g++ --version`?

In addition, can you try to compile the following C++ file:

[code]

using

[code]

as command? Does that produce the same error?

[2019-08-06 19:27] iembry commented on #31
@rstub   Please correct me if I'm wrong, but I saved the C++ code in a file named filenamer99.cpp and then I ran the commands beginning with `ccache`. There were no results when I performed those steps. Did I do something wrong? Thank you.

[2019-08-07 08:02] rstub commented on #31
@iembry Did you replace `filename.cpp` in the command line with the name you used? Was a `.o` file produced? If yes, than this shows that boost on its own does work on your system.

Next step: Can you please download and extract the `dqrng` sources somewhere. After  that please save the following as `dqrng-test.cpp`:

[code]

and compile it with

[code]

after replacing `<path/to/dqrng/inst/includ

[2019-08-09 19:34] iembry commented on #31
@rstub    Yes, filenamer99.cpp successfully created filenamer99.o. After I complete the other part, I'll post the results here. Thank you again.

[2019-09-07 17:51] ChristK opened #35 "Allow vectors as distribution parameters for the RNGs"
Thank you for all your hard work in this excellent package.

Please consider an enhancement to the RNG functions to allow vectors for all arguments in the RNGs. This would make dq RNGs a direct replacement to R RNGs.

For example `runif(c(1, 2), c(-1, 0), c(0, 1))` works but `dqrunif(c(1, 2), c(-1, 0), c(0, 1))` is not

[2019-09-09 19:56] rstub commented on #35
That sounds reasonable. Implementation note: The meaning of using a vector in the different places is quite different in base R:

* If the `n` argument is a scalar, its value is treated as the desired output length. If it is a vector, its length is treated as the desired output length.
* The distribution parameter vectors are then recycled to fit the desired output length.

[2019-10-09 01:10] iembry commented on #31
Hi, I'm sorry for my delayed response in sending you the further results.

Here you go:

    g++ -v -MD -std=c++11 -DNDEBUG -I"/library/BH/include" -I"R/dqrng_test/dqrng/inst/include/" \

    Using built-in specs.
    COLLECT_GCC=g++
    Target: x86_64-linux-gnu
    Configured with: ../src/configure -v --with-pkgversion='Ubuntu 4.8.4-2ubuntu1~14.04.4' --with-bugurl=file:///usr/share/doc/gcc-4.8/RE

[2019-10-09 10:54] rstub commented on #31
Please make sure that the `BH` and `sitmo` packages are installed and use the path to their `include` directory when compiling.

[2019-11-28 17:27] jlmelville commented on #26
FWIW, I would also be very interested in a thread-safe version or equivalent of `dqrng::dqsample_int`.

[2019-11-28 20:47] jlmelville commented on #26
In case anyone else needs this, here is the `sample` code without a global `rng`, with @isezen's example code re-implemented and making the `kind` of the RNG an option. Note:

* Anyone adding this code directly to a package will need to add `LinkingTo: sitmo, BH` to the `DESCRIPTION`.
* Order of import is really important. The `RcppParallel` include *must* go after the `dqrng` ones or it won't com

[2019-11-29 02:43] LTLA commented on #26
Thank God I'm not the only one with nothing better to do today...

If the proposal is to include the **RcppParallel** code in **dqrng** header libraries, it would be good to add some macros so that downstream packages aren't obliged to link to **RcppParallel** if they don't need to use this functionality. (The same effect could be achieved by just having this parallel code in a separate file, but

[2019-11-29 03:44] jlmelville commented on #26
Happy thanksgiving @ltla! The proposal would only to be to provide versions of `sample` that take `rng` as a parameter. The RcppParallel stuff is just an example of why you would want those versions of `sample`.

[2019-11-29 10:10] rstub commented on #26
Thanks @jlmelville! I have not looked at your code in detail, but I am open to a PR. Note that I would prefer to have only one version of the sampling code, i.e. `dqrng::dqsample_int` should then use the version with `rng` as a parameter.

[2019-12-12 14:55] Mthrun opened #37 "All possible permutations"
I got a hint that this package has a sampling function. In the documentation it is stated, that it can be used for the purpose of permutation.
Is there a shortcut to compute all possible permutations given an numerical vector vec, e.g.
allPossiblePermutations <- pracma::perms(vec)

This would be very helpful for my purposes.

[2019-12-12 15:16] rstub commented on #37
The help page for `dqsample` is modeled after the help page for `sample`. In both cases, the "Random Samples and Permutations", should be understood as "Random Samples and Random Permutations". So no, there is no function in dqrng to create **all** permutations, and I would consider it out-of-scope for this package, but you can easily get random permutations. Whats wrong with `pracma::perms`?

[2019-12-12 15:16] #37 closed

[2019-12-17 14:41] rstub opened #38 "Simplify reproducible parallel random streams in R"
The [parallel vignette](https://www.daqana.org/dqrng/articles/parallel.html) shows how one can get reproducible parallel RNG streams in principle. However, this is not very convenient. It would be nice to have an analogue function for `clusterSetRNGStream`, e.g.:

[code]
* This is just one way to achieve reproducibility, see https://pat-s.me/post/reproducibility-when-going-parallel/ by @pat-s for

[2020-01-30 02:01] heatherjzhou opened #39 "How to use dqrng to make RcppParallel code reproducible"
Hi,

Thank you for making this tool. It is one of the only available options that could make my RcppParallel code reproducible.

The only instruction I can find on how to use dqrng to make RcppParallel reproducible is the last section of this: https://www.daqana.org/dqrng/articles/parallel.html. This example uses auto, std::ref(), and std::generate(). However, in the program I am writing, the oper

[2020-01-30 14:59] rstub commented on #39
Currently the sampling code in dqrng cannot be used in parallel, c.f. #26 (@jlmelville are you still interested in a PR?). As for the general design: It would be possible to create a thread local RNG and pass that by reference to your helper functions to draw from whatever distribution function you need. I will think about some simplified example.

[2020-01-30 15:54] jlmelville commented on #39
@rstub, I am still interested in a PR, but I was hoping to have fully finished working on my downstream use case for it, so I can be sure it's fit for at least one purpose. Unfortunately that has taken a lot longer than I thought it would. But I haven't forgotten!

[2020-01-30 17:00] heatherjzhou commented on #39
@rstub Thanks! Looking forward to it.

It's ok that sampling cannot be used in parallel, as long as you can still draw from a uniform distribution, because then I can just write my own function for sampling with replacement.

[2020-01-31 18:13] heatherjzhou commented on #39
@rstub Hi, any updates? Thanks!

[2020-02-05 21:55] rstub commented on #39
Coming back to this I realize I do not fully understand the request. What problem do you have with `std::ref()` and `std::generate()`? Maybe you can post a (simplified) version of what you have tried so far?

Also, what do you mean by

What does it mean for users to have the option to set the seed but not having to provide one?

[2020-02-06 02:07] heatherjzhou commented on #39
Thanks for following up with me. I will write a simple example to show what I want to achieve this Friday. Thanks!

[2020-02-08 19:28] rstub commented on #39
The following is far from ideal. Just some ideas to get you started. Some interesting points:
* For reproducibility I create an RNG for each thread with the stream defined by `end`.
* I need to pass the RNG "by reference" to `generateVector`. This is done automatically since `dqrng::rng64_t` is actually a smart pointer.
* Using `dqrng::rng64_t` has the advantage that I can use any of the RNGs supp

[2020-02-10 19:56] heatherjzhou commented on #39
Thank you for your explanation!

I don't have a problem with ```cpp std::ref``` or std::generate per se. I just don't know how to use them to achieve what I want because I don't know the syntax. In fact, if the syntax is simpler than using .imbue(), I'd much rather prefer that. If you don't mind rewriting generateVector() with simpler syntax, I'd really appreciate that.

Lastly, I see that Rcpp::I

[2020-02-11 10:39] rstub commented on #31
Closing as unreproducible. Feel free to re-open in case you have further information.

[2020-02-11 10:39] #31 closed

[2020-02-11 11:06] rstub commented on #39
Actually `std::generate` would be quite similar to `.imbue()`, since both try to avoid naked `for` loops. IMHO it would be a good idea to learn about such methods, starting with the [`algorithm` header](https://en.cppreference.com/w/cpp/algorithm) from the STL. Anyway, here is a version of `generateVector()` that uses `for` loops instead:

[code]
As for the seed: I take two draws from R's RNG sinc

[2020-02-13 05:40] heatherjzhou commented on #39
Thank you very much for your explanation! I think I understand a lot better now.

[2020-02-13 06:37] #39 closed

[2020-03-07 03:03] iembry commented on #31
Hi @rstub  I upgraded from Trisquel 7 to Trisquel 8 on the same device & I was able to successfully install dqrng. Thank you.

[2020-03-07 17:10] rstub commented on #31
@iembry Good to hear!

[2020-04-24 17:00] rstub opened #40 "Investigate performance of scalar functions"
The C++ API provides both scalar and vector functions, e.g. `dqrng::rexp` and `dqrng::dqrexp`. Using the scalar function within a loop is quite a bit slower than using the vector function:

[code]

[code]

Is this a consequence of many calls via the R API, or is there some inefficiency in the scalar function?

[2020-04-24 17:03] rstub opened #41 "Provide access to the global RNG"
For some applications it makes sense to use a RNG directly. It is of course always possible to generate a new RNG, but that has its own independent state. It would be more convenient, if one could get access to (a shared pointer holding) the global RNG.

[2020-04-24 17:21] LTLA commented on #40
Couldn't help but get interested in this.

From reading the code, it seems that the scalar version does calls the `param()` method of the Boost distribution class in every iteration. Maybe this is doing some work?

I would have thought that it would be optimized away by the compiler because everything is known at compile time, but perhaps it's not possible given that the objects are global.

In an

[2020-04-24 17:26] hsloot commented on #40
I have looked into this a little bit myself, before you opened the issue and have done this. This was I naive approach, but maybe it helps. For me it does look like the "problem" might be the calls via the R API. Also, not generating an "extra" Rcpp vector seems to have a benefit, too ...

[code]

[code]

Somewhere in that naive approach I must have missed something, because the last function does

[2020-04-24 18:24] hsloot commented on #40
OK, I have found my error. The `rng` object is not exposed and therefore not reachable by `R`. I have written a second function `dqset_seed2` with which everything works as expected.

[code]

[code]

@LTLA I also included a version which calls `exponential.param()` in every iteration of the loop, but it does not seem to make a real difference.

[2020-04-25 20:44] ChristK commented on #35
The function ``` rscalar_direct2``` from https://github.com/daqana/dqrng/issues/40#issuecomment-619173614 is useful for the suggested enhancement here. For example below with a minor modification to accept a vector for the rate of the exponential distribution:
[code]

[2020-04-26 07:38] fabiangehring opened #42 "Vignette examples broken in latest version"
Hi,
In latest dqrng minimal vignette examples fail with

This was working great with dqrng 1.1.

i.e.:
[code]

[2020-04-26 20:36] rstub commented on #42
Thanks for the report. I removed that template in 0c6c61f71c3b9aeffac6f72e6a3fe1b2bc06950f but forgot about the documentation.

[2020-04-27 06:24] #42 closed

[2020-04-27 10:32] rstub commented on #40
Here some profiling experiments using https://github.com/nimble-dev/gprofiler.

[code]
results in [gp27f93c70d213.pdf](https://github.com/daqana/dqrng/files/4539024/gp27f93c70d213.pdf). Here most of the time is actually spend in the RNG and the distribution function. I am not sure why it is spending so much time in the lambda function, though.

[code]
results in [gp27f9992293e.pdf](https://github.

[2020-04-27 10:38] rstub commented on #35
@ChristK Interesting.  Renaming the function to `dqrexp2` gives the following comparison

[code]

So a special case for `rate.length() == 1` would be needed from my point of view.

[2020-04-27 12:12] ChristK commented on #35
This might work better?
[code]
for large vectors (n> 1e6) in my machine that gives better timings than currently implemented ```dqrexp```

[2020-04-27 12:54] hsloot commented on #41
I have thought a little bit about how to do this and came up with the following solution. It should be possible to wrap the shared_ptr `rng` as a static member in another class which initialises the shared_ptr, the first time an instance is created.

[code]

Sampling from the exponential distribution could then be facilitated as follows

[code]

For most of the other distributions, it should work

[2020-04-27 14:05] rstub commented on #35
The performance difference is interesting. And since the function pointer `rexp_impl` was introduced to use a simple `Rcpp::NumericVector(n, rexp_impl)`, one could get rid of it and use `exponential(*rng)` to gain even more speed. However, limiting the first argument to be an `Rcpp::IntegerVector` is to restrictive. We will need `Rcpp::NumericVector`  for long-vector support. And in principle othe

[2020-12-06 13:15] hsloot commented on #41
I revisited the issue and noticed that my previous suggestion was not helpful. I came up with an alternative, simple approach (see https://github.com/hsloot/dqrng) using an `Rcpp::XPtr` to expose the underlying raw pointer to the RNG. This seems to work (also in parallel clusters. Benchmarks show that this approach comes with little to no overhead (see https://github.com/hsloot/dqrng/blob/master/p

[2021-03-06 11:47] LTLA opened #43 "Package loading advances R's default seed"
I didn't realize this before, but we can see this odd behavior:

[code]

This is not ideal as functions using **dqrng** can return different results depending on whether **dqrng** was already loaded. You can imagine that this would be especially problematic when **dqrng** is a pretty deep dependency, as it is for my packages.

The culprit is the `init()` call in `src/dqrng.cpp`, which is run durin

[2021-04-09 05:09] LTLA commented on #43
Nudge. @rstub what do you think?

[2021-04-10 08:25] rstub commented on #43
Thanks for the heads up. That sounds like a reasonable suggestion. I have started work on this in #44.

[2021-04-10 09:30] rstub commented on #43
@LTLA Can you give #44 a try? I am also switching from Travis/Appveyor to Github Actions, but you can ignore those changes.

[2021-04-10 09:46] rstub commented on #43
BTW, this is of course a breaking change w.r.t. current behavior. I think it is the more sensible default, but would also be interested in feedback from other package authors using dqrng: @ircaal @jlmelville @Mthrun @joemsong

[2021-04-10 17:13] jlmelville commented on #43
No concerns for me.

[2021-04-10 23:12] irkaal commented on #43
Looks good to me.

[2021-04-11 00:49] joemsong commented on #43
Not a problem for our packages.

Thank you.

Joe

On Sat, Apr 10, 2021 at 3:46 AM Ralf Stubner ***@***.***>
wrote:

[2021-04-11 00:53] LTLA commented on #43
Also looks good to me. Passes both the MRE above and [my more complicated actual case](https://github.com/LTLA/batchelor/blob/4f0a45ad5949ccf90ba53187d0e31f090b1c2177/tests/testthat/test-quick-correct.R#L4).

FWIW the current seed-shifting behavior can be recovered by just tapping R's stream a few more times:

[code]

for anyone who was unfortunate enough to set the seed before loading the package

[2021-04-30 16:29] LTLA commented on #43
Following up on this. Are we good to go to CRAN? The next Bioconductor release is on the horizon and it would be nice to have this available before then.

[2021-05-01 09:15] #43 closed

[2021-05-01 09:23] Mthrun commented on #43
sorry, this thread somehow got stuck in my spam folder. Please go forward with you package update. If something breaks on our side, we will fix it asap.

Best Regards
Michael

[2021-05-01 09:37] rstub commented on #43
@Mthrun No problem.
@LTLA Thanks for the heads up. I am working on this now ...

[2021-11-06 16:57] s3alfisc opened #45 "'prob' argument for dqrng::dqsample"
Hi - first of all, thanks for a great package - it speeds up my code quite a bit!

Do you have any plans to support the `prob` argument in `dqrng::dqsample`? It would be super beneficial in my use case -
I would like to generate so called 'Mammen weights' for a wild bootstrap, which require such an argument. Right now, I use `dqsample` for some weights distributions, but have to switch back to `sa

[2022-09-22 18:58] statzhero opened #46 "Additional multivariate distributions"
Hello, do you plan to add any multivariate distributions for fast sampling? For example, such as `MASS::mvrnorm()`.

[2022-10-15 20:29] avraam-inside commented on #45
+1. I need this argument too. Did the author abandon the project?